{% extends 'base.html' %}
{% load static %}
{% block content %}

<div>
  <div class="debt-credit-list-title">
    <h1>Debt and Credit for User: {{user.username}}</h1>
  </div>
  <div class="debt-credit-list-container">
    <div class="flex-child-debt">
      <h1>Debt Per Month</h1>
      <ul>
        {% for debt in debits %}
        <li>
          <h4>{{debt.name}} = ${{debt.amount}}</h4>
          <a href="{% url 'budget:edit_debt' debt_id=debt.id %}">Edit</a>
          <form name="delete_debt" method="POST" action="{% url 'budget:delete_debt' debt_id=debt.id %}">
            {% csrf_token %}
            <input class="btn btn-primary float-right" type="submit" value="Delete" />
          </form>
        </li>
        {% endfor %}
      </ul>
      <br />
      <h2>Total Monthly Debt: ${{total_debt.total_debt}}</h2>
      <a href="{% url 'budget:new_debt' %}">New Debt</a>
    </div>
    <div class="flex-child-credit">
      <h1>Credit Per Month</h1>
      <ul>
        {% for credit in credits %}
        <li>
          <h4>{{credit.name}} = ${{credit.amount}}</h4>
          <a href="{% url 'budget:edit_credit' credit_id=credit.id %}">Edit</a>
          <form name="delete_credit" method="POST" action="{% url 'budget:delete_credit' credit_id=credit.id %}">
            {% csrf_token %}
            <input class="btn btn-primary" type="submit" value="Delete" />
          </form>
        </li>
        {% endfor %}
      </ul>
      <h2>Total Monthly Credit: ${{total_credit.total_credit}}</h2>
      <a href="{% url 'budget:new_credit' %}">New Credit</a>
    </div>
  </div>
  <br /><br />
  <div class="in-minus-out-container">
    <h2>Money In minus (-) Money Out: ${{in_minus_out}} Per Month</h2>
  </div>
  <br />
  <div class="annual-totals-container">
    <div class="annual-totals">
      <a href="annual_totals">Annual Totals</a>
    </div>
  </div>
</div>

{% endblock %}